<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vroom Rentals</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/nav.css">
</head>

    <nav class="container">

      <p> </i>
        <a class="navbar-brand" href="/">
          <img src="https://cdn.pixabay.com/photo/2014/04/03/10/27/car-310523__340.png" height="60"  alt="Vroom Logo"
            loading="lazy" />
        </a></p>
      <ul >

        <li>Home</li>
        <li>About Us</li>
        <li>Contant</li>
        <li>Sing in</li>
      </ul>
      <label id="icon">
        <i class="fa-solid fa-bars"></i>
      </label>
    </nav>

<body> -->
  
  <!DOCTYPE html>
  <html lang="en" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
   
  </head>
  <body>
    
<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <p id="carlogo"> </i>
      <a class="navbar-brand" href="/">
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/27/car-310523__340.png" height="30"  alt="Vroom Logo"
          loading="lazy" />
          <a class="navbar-brand " href="/">CAR RENTAL </a>
      </a></p>
   
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarScroll" >
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">SignUp</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li>
        <form class="d-flex" action="/login" >
          <button class="btn btn-outline-dark btn-light" type="submit" >Login</button>
        </form>
      </li>
      </ul>
      
    </div>
  </div>
</nav>
  </body>
  </html>